# Scarping World Population data from Worldometer Website using Web Scarping Library.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = "https://www.worldometers.info/world-population/"

In [3]:
page = requests.get(url)

In [4]:
soup = BeautifulSoup(page.text, 'lxml')

In [7]:
soup.find('table', class_ = 'table table-striped table-bordered table-hover table-condensed table-list')

<table class="table table-striped table-bordered table-hover table-condensed table-list"><thead> <tr> <th>Year<br/> (July 1) </th><th>Population</th><th>Yearly % <br/> Change</th><th>Yearly<br/> Change</th><th>Median <br/>Age</th><th>Fertility <br/>Rate</th><th>Density <br/>(P/Km²)</th> </tr></thead><tbody> <tr> <td>2023</td> <td><strong>8,045,311,447</strong></td> <td>0.88 %</td> <td>70,206,291</td> <td>30.5</td> <td>2.31</td> <td>54</td> </tr> <tr> <td>2022</td> <td><strong>7,975,105,156</strong></td> <td>0.83 %</td> <td>65,810,005</td> <td>30.2</td> <td>2.31</td> <td>54</td> </tr> <tr> <td>2021</td> <td><strong>7,909,295,151</strong></td> <td>0.87 %</td> <td>68,342,271</td> <td>30.0</td> <td>2.32</td> <td>53</td> </tr> <tr> <td>2020</td> <td><strong>7,840,952,880</strong></td> <td>0.98 %</td> <td>76,001,848</td> <td>29.7</td> <td>2.35</td> <td>53</td> </tr><tr> <td>2015</td> <td><strong>7,426,597,537</strong></td> <td>1.23 %</td> <td>88,198,886</td> <td>28</td> <td>2.52</td> <td>50</td> </tr><tr> <td>2010</td> <td><strong>6,985,603,105</strong></td> <td>1.27 %</td> <td>85,485,397</td> <td>27</td> <td>2.59</td> <td>47</td> </tr><tr> <td>2005</td> <td><strong>6,558,176,119</strong></td> <td>1.30 %</td> <td>81,855,429</td> <td>26</td> <td>2.62</td> <td>44</td> </tr><tr> <td>2000</td> <td><strong>6,148,898,975</strong></td> <td>1.37 %</td> <td>81,135,904</td> <td>25</td> <td>2.73</td> <td>41</td> </tr><tr> <td>1995</td> <td><strong>5,743,219,454</strong></td> <td>1.56 %</td> <td>85,408,718</td> <td>24</td> <td>2.88</td> <td>39</td> </tr><tr> <td>1990</td> <td><strong>5,316,175,862</strong></td> <td>1.80 %</td> <td>90,889,050</td> <td>23</td> <td>3.31</td> <td>36</td> </tr><tr> <td>1985</td> <td><strong>4,861,730,613</strong></td> <td>1.81 %</td> <td>83,544,581</td> <td>22</td><td>3.52</td> <td>33</td> </tr><tr> <td>1980</td> <td><strong>4,444,007,706</strong></td> <td>1.78 %</td> <td>74,914,095</td> <td>22</td> <td>3.75</td> <td>30</td> </tr><tr> <td>1975</td> <td><strong>4,069,437,231</strong></td> <td>1.95 %</td> <td>74,809,379</td> <td>21</td> <td>4.08</td> <td>27</td> </tr><tr> <td>1970</td> <td><strong>3,695,390,336</strong></td> <td>2.06 %</td> <td>71,655,671</td> <td>20</td><td>4.83</td> <td>25</td> </tr><tr> <td>1965</td> <td><strong>3,337,111,983</strong></td> <td>2.02 %</td> <td>63,575,710</td> <td>21</td> <td>5.08</td> <td>22</td> </tr><tr> <td>1960</td> <td><strong>3,019,233,434</strong></td> <td>1.91 %</td> <td>54,632,259</td> <td>21</td> <td>4.70</td> <td>20</td> </tr><tr> <td>1955</td> <td><strong>2,746,072,141</strong></td> <td>1.90 %</td> <td>49,349,997</td> <td>22</td> <td>5.01</td> <td>18</td> </tr></tbody></table>

In [5]:
table = soup.find('table', class_ = 'table table-striped table-bordered table-hover table-condensed table-list')

In [6]:
headers = []

for i in table.find_all('th'):
    title = i.text
    headers.append(title)

In [8]:
df = pd.DataFrame(columns= headers)

In [9]:
df.head()

Empty DataFrame
Columns: [Year (July 1) , Population, Yearly %  Change, Yearly Change, Median Age, Fertility Rate, Density (P/Km²)]
Index: []

In [10]:
for j in table.find_all('tr')[1:]:
    row_data = j.find_all('td')
    row = [tr.text for tr in row_data]
    length = len(df)
    df.loc[length] = row

In [11]:
df.head()

,Year (July 1),Population,Yearly % Change,Yearly Change,Median Age,Fertility Rate,Density (P/Km²)
0,2023,"8,045,311,447",0.88 %,"70,206,291",30.5,2.31,54
1,2022,"7,975,105,156",0.83 %,"65,810,005",30.2,2.31,54
2,2021,"7,909,295,151",0.87 %,"68,342,271",30.0,2.32,53
3,2020,"7,840,952,880",0.98 %,"76,001,848",29.7,2.35,53
4,2015,"7,426,597,537",1.23 %,"88,198,886",28,2.52,50

In [13]:
print(df)

   Year (July 1)      Population Yearly %  Change Yearly Change Median Age  \
0            2023  8,045,311,447           0.88 %    70,206,291       30.5
1            2022  7,975,105,156           0.83 %    65,810,005       30.2
2            2021  7,909,295,151           0.87 %    68,342,271       30.0
3            2020  7,840,952,880           0.98 %    76,001,848       29.7
4            2015  7,426,597,537           1.23 %    88,198,886         28
5            2010  6,985,603,105           1.27 %    85,485,397         27
6            2005  6,558,176,119           1.30 %    81,855,429         26
7            2000  6,148,898,975           1.37 %    81,135,904         25
8            1995  5,743,219,454           1.56 %    85,408,718         24
9            1990  5,316,175,862           1.80 %    90,889,050         23
10           1985  4,861,730,613           1.81 %    83,544,581         22
11           1980  4,444,007,706           1.78 %    74,914,095         22
12           1975  4,069,437,231           1.95 %    74,809,379         21
13           1970  3,695,390,336           2.06 %    71,655,671         20
14           1965  3,337,111,983           2.02 %    63,575,710         21
15           1960  3,019,233,434           1.91 %    54,632,259         21
16           1955  2,746,072,141           1.90 %    49,349,997         22

   Fertility Rate Density (P/Km²)
0            2.31              54
1            2.31              54
2            2.32              53
3            2.35              53
4            2.52              50
5            2.59              47
6            2.62              44
7            2.73              41
8            2.88              39
9            3.31              36
10           3.52              33
11           3.75              30
12           4.08              27
13           4.83              25
14           5.08              22
15           4.70              20
16           5.01              18

In [12]:
df.to_csv("Population.csv")